/* ==UserStyle==
@name        Sane Teams
@namespace   timgthomas
@version     0.2.0
@homepageURL https://github.com/timgthomas/stylish-sane-teams
@author      Tim G. Thomas <tim@timgthomas.com>
==/UserStyle== */

@-moz-document domain('teams.microsoft.com') {

  /* === CHROME ============================================================= */

  /* Hide "waffle header" (office links and title) */
  .ts-waffle .waffle-header {
    display: none;
  }

  /* Round action bar */
  .app-top-power-bar .ts-header-search {
    border-radius: 100px;
  }

  /* === NAVIGATION ========================================================= */

  /* Hide "Get app" button */
  #get-app-button {
    display: none;
  }

  /* === CHAT =============================================================== */

  /* --- Chat: Composer ----------------------------------------------------- */

  /* Widen composer */
  .ts-add-message .ts-new-message {
    max-width: none;
  }

  /* Round corners on composer */
  .ts-add-message .ts-new-message-footer {
    border-radius: 100px;
  }

  /* --- Chat: Messages ----------------------------------------------------- */

  /* Widen message list */
  .ts-message-list-container,
  virtual-repeat > .list-wrap > .item-wrap {
    max-width: none;
  }
  .chat-style .thread-body:not(.self) .ts-message-thread-body {
    margin-right: 7.4rem;
  }

  /* Left-align "my" chat bubbles */
  .chat-style .self .ts-message-thread-body {
    justify-content: flex-start;
    padding-left: 4.2rem;
  }
  .chat-style .conversation-bubble-previous:not(.conversation-bubble) .self .message-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
  }
  .chat-style .conversation-bubble.conversation-bubble-previous .self .message-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
  }
  .chat-style .conversation-bubble:not(.conversation-bubble-previous) .self .message-body {
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
  }

  /* Round corners on chat bubbles */
  .chat-style .message-body {
    border-radius: 16px;
  }

  /* Stop animated emojis */
  [class^='animated-emoticon'] img {
    padding-left: 0;
  }
  .zoetrope {
      display: none !important;
  }

}
