/* ==UserStyle==
@name        Sane Teams
@namespace   timgthomas
@version     0.1.0
@homepageURL https://github.com/timgthomas/stylish-sane-teams
@author      Tim G. Thomas <tim@timgthomas.com>
==/UserStyle== */

@-moz-document domain('teams.microsoft.com') {

  /* === CHAT =============================================================== */

  /* --- Chat: Messages ----------------------------------------------------- */

  /* Left-align "my" chat bubbles */
  .chat-style .self .ts-message-thread-body {
    justify-content: flex-start;
    padding-left: 4.2rem;
  }

  /* Round corners on chat bubbles */
  .chat-style .message-body {
    border-radius: 16px;
  }

}
